@import "tailwindcss";
@import "./font.module.css";

@theme inline {
  --font-IRANYekan-Light: "IRANYekanLight";
  --font-IRANYekan-Meduim: "IRANYekanMedium";
  --font-IRANYekan-Bold: "IRANYekanBold";
  --color-dark: #202425;
  --color-dark2: #2b2d2e;
  --color-white: #ffffff;
  --color-white2: #E8E2D8;
  --color-blueMenu: #1e88e5;
  --color-gray-bg: #f9f9f9;
  --color-gray-5: rgb(255 255 255 / 30%);
  --color-overview: rgba(0, 0, 0, 0.40);
}

@layer base {

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    outline: none;
  }

  html {
    direction: rtl;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-IRANYekan-Meduim);
    font-size: 0.95rem;
    background-color: var(--color-gray-bg) !important;
    color: var(--color-dark);
  }

  .container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .swiper-button-disabled {
    opacity: 0.5 !important;
    cursor: context-menu !important;
  }

  .swiper-button-disabled svg {
    fill: #9ca3af !important;
  }
}