@import "tailwindcss";
@import "./font.module.css";


@theme inline {
  --font-IRANYekan-Light: "IRANYekanLight";
  --font-IRANYekan-Meduim: "IRANYekanMedium";
  --font-IRANYekan-Bold: "IRANYekanBold";
  --color-dark: #202425;
  --color-dark2: #2b2d2e;
  --color-white: #ffffff;
  --color-white2: #E8E2D8;
  --color-blueMenu: #1e88e5;
  --color-gray-bg: #f9f9f9;
  --color-gray-5: rgb(255 255 255 / 30%);
  --color-gray-text: #767676;
  --color-gray-10: #e8e8ea;
  --color-overview: rgba(0, 0, 0, 0.40);
}

@layer base {

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    outline: none;
  }

  html {
    direction: rtl;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-IRANYekan-Meduim);
    font-size: 0.95rem;
    background-color: var(--color-gray-bg);
    color: var(--color-dark);
  }

  .container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .swiper-button-disabled {
    opacity: 0.5 !important;
    cursor: context-menu !important;
  }

  .swiper-button-disabled svg {
    fill: #9ca3af !important;
  }

  .submit-form {
    width: 9.6px;
    height: 9.6px;
    background: #ffffff;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 16px 0, -16px 0;
    animation: dots-u8fzftsm 1s infinite linear alternate;
  }

  @keyframes dots-u8fzftsm {
    0% {
      box-shadow: 16px 0, -16px 0;
    }

    33% {
      box-shadow: 16px 0, -16px 0 rgba(255, 255, 255, 0.13);
      background: rgba(255, 255, 255, 0.13);
    }

    66% {
      box-shadow: 16px 0 rgba(255, 255, 255, 0.13), -16px 0;
      background: rgba(255, 255, 255, 0.13);
    }
  }

  .loading {
    width: 56px;
    height: 26.9px;
    background: radial-gradient(circle closest-side, #1e88e5 90%, #0000) 0% 50%,
      radial-gradient(circle closest-side, #1e88e5 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, #1e88e5 90%, #0000) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1s infinite linear;
  }

  @keyframes dots-7ar3yq {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }

}